extends layout

block content
  h1=title
  p Frag Tank Light = #{sumplight}
  p Left = #{leftlight}
  p Center = #{centerlight}
  p Right = #{rightlight}
  p Fan = #{fan}
  p Chaeto = #{chaetolight}
  p x200 = #{x200}
  p diverter = #{diverter}
